<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Gacha Collection</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://localhost/login">
                <strong>Home</strong>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <a href="https://localhost/login" class="button is-light">Login</a>
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title">Your Gacha Collection</h1>
            {% if records %}
            <div id="gachaList" class="columns is-multiline">
                {% for gacha in records %}
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">{{ gacha.name }}</p>
                            <p class="subtitle">Rarity: {{ gacha.rarity }}</p>
                            <p>Quantity: {{ gacha.quantity }} </p>
                            <img src="{{ gacha.image_path }}" alt="Gacha Image" onerror="this.src='/static/default.png';">
                            <p>{{ gacha.description }}</p>
                            <footer class="button is-primary is-outlined" style="display: flex; justify-content: center; align-items: center;">
                                <a id="createAuctionBtn" data-gachaurl="https://localhost/market/gacha/{{gacha.uuid}}" class="card-footer-item">Create auction</a>
                            </footer>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="has-text-centered">No gacha items found in your collection.</p>
            {% endif %}
        </div>
    </section>
    <script>
        (document.querySelectorAll('a#createAuctionBtn.card-footer-item') || []).forEach(a_tag => {
            a_tag.addEventListener('click', (event) => {
                event.preventDefault();
                let url = event.target.dataset.gachaurl;
                const token = localStorage.getItem('authorization');
                const headers = {
                    'Content-Type': 'application/json',
                    'Accept': 'text/html'
                };
                if (token) {
                    headers['Authorization'] = token;
                }
            
                const options = {
                    method: 'GET',
                    headers: headers
                };
            
                const request = new Request(url, options);
            
                fetch(request)
                    .then(response => response.text())
                    .then(html => {
                        document.open();
                        document.write(html);
                        document.close();
                    })
                    .catch(error => console.error('Error loading page:', error));
                });
        });
</script>    
</body>
</html>
