specs/
docs/first-prototype-delivery/first-prototype-delivery.*

!docs/first-prototype-delivery/first-prototype-delivery.tex
!docs/first-prototype-delivery/first-prototype-delivery.pdf
src/locust/__pycache__/