specs/
docs/first-prototype-delivery/first-prototype-delivery.*

!docs/first-prototype-delivery/first-prototype-delivery.tex
!docs/first-prototype-delivery/first-prototype-delivery.pdf
src/dbs/*/server.crt
src/dbs/*/server.key