<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>

<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://localhost/login">
                <strong>Home</strong>
            </a>
        </div>
    </nav>

    <section class="section">
        <div class="container has-text-centered" style='width: 50%'>
            <h1 class="title">Auction Details</h1>
            <div class="box has-text-centered">
                <h2 class="subtitle">{{auction.Gacha.name}}</h2>
                <p><strong>Rarity:</strong> {{auction.Gacha.rarity}}</p>
                <img src="{{auction.Gacha.image_path}}" alt="Gacha Image" style='width: 40%'>
                <p><strong>Base Price:</strong> {{auction.base_price}}</p>
                <p id='offerTag'><strong>Current Offer:</strong> {{auction.actual_offer}}</p>
                <p><strong>Owner:</strong> {{auction.player_username}}</p>
                <p><strong>Expiration:</strong> {{auction.expired_at}}</p>
            </div>
            {% if not is_owner %}
            <div class="box">
                <h2 class="subtitle">Place Your Bid</h2>
                <div id="notification" class="notification is-success is-hidden">
                    Bid placed successfully!
                </div>
                <form id="bidForm">
                    <div class="field">
                        <label class="label" for="offer">Your Offer</label>
                        <div class="control">
                            <input class="input" type="number" name="offer" id="offer" placeholder="Enter your offer"
                                min="1" step="1" required>
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary">Submit Bid</button>
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </section>

    <script>
        function getToken() {
            const storedToken = localStorage.getItem('authorization');
            if (!storedToken) {
                window.location.href = '/login';
            }
            return storedToken;
        }

        let token;

        document.addEventListener('DOMContentLoaded', () => {
            token = getToken();
        });

        document.addEventListener('DOMContentLoaded', () => {
            const form = document.querySelector('#bidForm');
            const notification = document.getElementById('notification');
            const auctionUuid = "{{ auction.auction_uuid }}";

            form.addEventListener('submit', async (e) => {
                e.preventDefault();
                const formData = new FormData(form);

                const response = await fetch(`/market/${auctionUuid}/bid`, {
                    method: 'POST',
                    body: JSON.stringify({
                        offer: formData.get('offer'),
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': token,
                    },
                });

                const data = await response.json();

                if (response.ok) {
                    notification.textContent = 'Bid placed successfully!';
                    notification.classList.remove('is-hidden');
                } else {
                    alert(data.response);
                }
            });
            setInterval(() => {
                const headers = {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                };
                if (token) {
                    headers['Authorization'] = token;
                }

                const options = {
                    method: 'GET',
                    headers: headers
                };

                const request = new Request(`/market/${auctionUuid}`, options);

                fetch(request)
                    .then(response => response.json())
                    .then(html => {
                        document.getElementById('offerTag').innerHTML = `<strong>Current Offer:</strong> ${html.response.actual_offer}`;
                    })
                    .catch(error => console.error('Error loading page:', error));
            }, 3000);
        });

    </script>
</body>

</html>