<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/market">
                <strong>Marketplace</strong>
            </a>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title">Available Auctions</h1>
            <div id="auctionsList" class="columns is-multiline"> 
                {% for auction in auctions %}
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">{{auction.Gacha.name}}</p>
                            <p class="subtitle">Rarity: {{auction.Gacha.rarity}}</p>
                            <img src="{{auction.Gacha.image_path}}" alt="Gacha Image">
                            <p class="subtitle">Base Price: {{auction.base_price}}</p> 
                            <p>Owner: {{auction.player_username}}</p>
                        </div>
                        <footer class="card-footer">
                            <a href="https://ase.localhost/market/{{auction.auction_uuid}}" class="card-footer-item">View Details</a>
                        </footer>
                    </div>
                </div>
                {% endfor %}
            </div>
        <div class="has-text-centered">
            <a href="/market/new" class="button is-primary is-large">Create New Auction</a>
        </div>
        </div>
    </section>
</body>
</html>
