<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gacha Marketplace</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/collection">
                <strong>Gacha Collection</strong>
            </a>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title">Available Gacha</h1>
            <div id="auctionsList" class="columns is-multiline"> 
                {% for gacha in records %}
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">{{gacha.name}}</p>
                            <p class="subtitle">Rarity: {{gacha.rarity}}</p>
                            <img src="{{gacha.image_path}}" alt="Gacha Image">
                            <p>Description: {{gacha.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
</html>
