<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/login">
                <strong>EzGacha</strong>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-end px-2">  
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                Menu
              </a>
          
              <div class="navbar-dropdown is-right">
                <a href="/login" class="navbar-item">Login</a>
                <a href="/user" class="navbar-item">Sign Up</a>
                <a id="logoutBtn" class="navbar-item">Logout</a>
                <a id="currencyBtn" class="navbar-item">Currency</a>
                <a href="/currency/buy" class="navbar-item">Buy Currency</a>
                <a href="/user/transactions" class="navbar-item">Transactions</a>
                <a href="/market" class="navbar-item">Marketplace</a>
                <a href="/collection" class="navbar-item">Collection</a>
                <a href="/roll" class="navbar-item">Roll</a>
                <a href="/user/collection" class="navbar-item">my collection</a>
              </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            <h1 class="title">Login</h1>
            <form id="loginForm">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" id="username" placeholder="Enter username" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" id="password" placeholder="Enter password" required>
                    </div>
                </div>

                <div class="control">
                    <button class="button is-primary" type="submit">Log In</button>
                </div>
            </form>
            <div id="response" class="notification is-hidden"></div>
        </div>
    </section>

    <script>
        document.getElementById('currencyBtn').addEventListener('click', function(event) {
            event.preventDefault();  

            var request = new Request('/user/currency', {
                method: 'GET', 
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': localStorage.getItem('authorization'),
                    'Accept': 'text/html'    
                }
            })
            fetch(request)
                .then(response => response.text())
                .then(html => {
                    document.open();
                    document.write(html);
                    document.close();
                });
        });
        
        // Login form submission
        document.getElementById('loginForm').onsubmit = async function (e) {
            e.preventDefault();

            const response = await fetch('/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    username: document.getElementById('username').value,
                    password: document.getElementById('password').value
                })
            });

            const result = await response.json();
            const authorizationHeader = response.headers.get('authorization');
            localStorage.setItem('authorization', authorizationHeader);
            const responseDiv = document.getElementById('response');
            responseDiv.classList.remove('is-hidden');
            responseDiv.textContent = result.response;
            responseDiv.className = response.ok ? 'notification is-success' : 'notification is-danger';
        };
        // Logout functionality
        document.getElementById('logoutBtn').addEventListener('click', async function () {
            const response = await fetch('/logout', {
                method: 'DELETE',
                headers: { 'Content-Type': 'application/json' }
            });

            localStorage.removeItem('authorization');
            const result = await response.json();
            alert(result.response); 

        });
    </script>
</body>
</html>
