<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <strong>EzGacha</strong>
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-end px-2">  

            <a id="loginBtn" class="navbar-item">Login</a>
            <a id="signUpBtn" class="navbar-item">Sign Up</a>

            <div class="navbar-item has-dropdown is-hoverable is-hidden" id='items-dropdown'>
              <a class="navbar-link">Menu</a>
              <div class="navbar-dropdown is-right">
                <a id="currencyBtn" class="navbar-item">Currency</a>
                <a id="buyCurrencyBtn" class="navbar-item">Buy Currency</a>
                <a id="myCollectionBtn" class="navbar-item">My Collection</a>
                <a id="transactionsBtn" class="navbar-item">Transactions</a>
                <a id="marketplaceBtn" class="navbar-item">Marketplace</a>
                <a id="collectionBtn" class="navbar-item">System collection</a>
                <a id="rollBtn" class="navbar-item">Roll</a>
                <a id="logoutBtn" class="navbar-item">Logout</a>
              </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container" id="content">
            <h1 class="title">Login</h1>
            <form id="loginForm">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control">
                        <input class="input" type="text" id="username" placeholder="Enter username" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Password</label>
                    <div class="control">
                        <input class="input" type="password" id="password" placeholder="Enter password" required>
                    </div>
                </div>

                <div class="control">
                    <button class="button is-success" type="submit">Log In</button>
                </div>
            </form>
            <div id="response" class="notification is-hidden"></div>
        </div>
    </section>

    <script>
        function createNavigationHandler(buttonId, endpoint, method = 'GET') {
            document.getElementById(buttonId).addEventListener('click', function(event) {
                event.preventDefault();
                const token = localStorage.getItem('authorization');
                const headers = {
                    'Content-Type': 'application/json',
                    'Accept': 'text/html'
                };
                if (token) {
                    headers['Authorization'] = token;
                }

                const options = {
                    method: method,
                    headers: headers
                };
                
                const request = new Request(endpoint, options);

                fetch(request)
                    .then(response => response.text())
                    .then(html => {
                        document.open();
                        document.write(html);
                        document.close();
                    })
                    .catch(error => console.error('Error loading page:', error));
            });
        }

        createNavigationHandler('currencyBtn', '/user/currency', 'GET');
        createNavigationHandler('signUpBtn', '/user', 'GET');
        createNavigationHandler('transactionsBtn', '/user/transactions', 'GET');
        createNavigationHandler('marketplaceBtn', '/market', 'GET');
        createNavigationHandler('collectionBtn', '/collection', 'GET');
        createNavigationHandler('myCollectionBtn', '/user/collection', 'GET');
        createNavigationHandler('buyCurrencyBtn', '/currency/buy', 'GET');
        createNavigationHandler('rollBtn', '/roll', 'GET');

        document.getElementById('loginForm').onsubmit = async function (e) {
            e.preventDefault();

            const response = await fetch('/login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    username: document.getElementById('username').value,
                    password: document.getElementById('password').value
                })
            });

            const result = await response.json();
            const authorizationHeader = response.headers.get('authorization');
            localStorage.setItem('authorization', authorizationHeader);

            const dropItems = document.getElementById('items-dropdown');
            dropItems.classList.remove('is-hidden');

            const responseDiv = document.getElementById('response');
            responseDiv.classList.remove('is-hidden');
            if (response.status !== 200) {
                document.getElementById('response').textContent = result.response;
                document.getElementById('response').className = 'notification is-danger is-light';
                return;
            } else {
                document.getElementById('response').textContent = 'Login successful';
                document.getElementById('response').className = 'notification is-success is-light';
            }
        };

        document.getElementById('logoutBtn').addEventListener('click', async function () {
            const response = await fetch('/logout', {
                method: 'DELETE',
                headers: { 
                    'Content-Type': 'application/json',
                    'Authorization': localStorage.getItem('authorization') 
                    }
            });

            localStorage.removeItem('authorization');
            const result = await response.json();
            const dropItems = document.getElementById('items-dropdown');
            dropItems.classList.add('is-hidden');
            alert(result.response);
        });

        document.addEventListener('DOMContentLoaded', function () {
            const dropItems = document.getElementById('items-dropdown');
        
            const authorization = localStorage.getItem('authorization');
            if (authorization) {
                dropItems.classList.remove('is-hidden');
            } else {
                dropItems.classList.add('is-hidden');
            }
        });
    </script>
</body>
</html>
