
ase.localhost {
    # Inoltra tutte le richieste da /api/login al servizio ...5000/login
    # handle_path /api/login {
    #     rewrite /login
    #     method /login POST
    #     reverse_proxy authentication_service:5000
    # }
    method /admin/logout DELETE
    handle_path /admin/logout {
        rewrite /logout
        reverse_proxy authentication_service:5000
    }
    handle /admin/login {
        reverse_proxy authentication_service:5000
    }
    # Rende disponibile /login del servizio al gateway
    handle /login {
        reverse_proxy authentication_service:5000
    }
    handle /logout {
        method /logout DELETE
        reverse_proxy authentication_service:5000
    }

    handle /admin/users/* {
        reverse_proxy account_service:5000
    }
    handle /admin/users {
        reverse_proxy account_service:5000
    }
    handle /user {
        reverse_proxy account_service:5000
    }
    handle /user/currency {
        reverse_proxy account_service:5000
    }
    handle /user/collection {
        reverse_proxy account_service:5000
    }
    handle /user/transactions {
        reverse_proxy account_service:5000
    }
    handle /user/transactions/* {
        reverse_proxy account_service:5000
    }


    handle /collection {
        reverse_proxy gacha_service:5000
    }

    handle /currency/buy {
        reverse_proxy currency_service:5000
    }

    handle /* {
        reverse_proxy gacha_service:5000
    }

    handle /market {
        reverse_proxy market_service:5000
    }
    handle /market/* {
        reverse_proxy market_service:5000
    }
}