
ase.localhost {
    
    method /admin/logout DELETE
    handle_path /admin/logout {
        rewrite /logout
        reverse_proxy authentication_service:5000
    }
    handle /login {
        reverse_proxy authentication_service:5000
    }
    handle /logout {
        method /logout DELETE
        reverse_proxy authentication_service:5000
    }


    handle /admin/login {
        reverse_proxy admin_service:5000
    }
    handle /admin/users/* {
        reverse_proxy admin_service:5000
    }
    handle /admin/users {
        reverse_proxy admin_service:5000
    }
    handle /admin/collection {
        reverse_proxy admin_service:5000
    }
    handle /admin/collection/* {
        reverse_proxy admin_service:5000
    }
    handle /admin/market {
        reverse_proxy admin_service:5000
    }
    handle /admin/market/{http.request.uri.path.2} {
        reverse_proxy admin_service:5000
    }
    handle /admin/payment/{http.request.uri.path.2} {
        reverse_proxy admin_service:5000
    }
    handle /admin/close/{http.request.uri.path.2} {
        reverse_proxy admin_service:5000
    }
    handle /admin/transaction/{http.request.uri.path.2} {
        reverse_proxy admin_service:5000
    }

    handle /user {
        reverse_proxy account_service:5000
    }
    handle /user/currency {
        reverse_proxy account_service:5000
    }
    handle /user/collection {
        reverse_proxy account_service:5000
    }
    handle /user/transactions {
        reverse_proxy account_service:5000
    }
    handle /user/transactions/* {
        reverse_proxy account_service:5000
    }

    handle /collection {
        reverse_proxy gacha_service:5000
    }
    handle /collection/{http.request.uri.path.1} {
        reverse_proxy gacha_service:5000
    }
    handle /roll {
        reverse_proxy gacha_service:5000
    }


    handle /currency/buy {
        reverse_proxy currency_service:5000
    }


    handle /market {
        reverse_proxy market_service:5000
    }
    handle /market/{http.request.uri.path.1} {
        reverse_proxy market_service:5000
    }
    handle /market/{http.request.uri.path.1}/bid {
        reverse_proxy market_service:5000
    }   
    handle /market/{http.request.uri.path.1}/close {
        reverse_proxy market_service:5000
    }
    handle /market/{http.request.uri.path.1}/payment {
        reverse_proxy market_service:5000
    }
    
    
    handle {
        header Content-Type application/json
        respond `{"response": "page not found}` 404
    }
}